* {
  margin: 0;
  box-sizing: border-box;
}

body {
  color: #ff6600;
  background-color: #121212;
}

.App {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 50px;
}

header {
  width: 100%;
  padding: 20px;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  column-count: 4;
  margin: 2em 2em 2em 2em;
  column-width: 50%;
}
